body {
    background-image: url(field.jpg);
    background-size: 1920px 970px;
}

img {
    width: 100px;
    height: 100px;
    position: absolute
}

div {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 860px;
}